:root {
    --cor-primaria: #009c94;
    --cor-secundaria: #006b79;
    --cor-terciaria: aliceblue;
    --cor-quarternaria: orange;
    --cor-quintenaria: gray;
}

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    background-image: radial-gradient( var(--cor-primaria), var(--cor-secundaria) );
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor-terciaria);
    font-size: 1rem;
}

a:hover{
    color: var(--cor-quarternaria);
}

/* 
--------------------------------------------------------------------- 
CABEÇALHO
--------------------------------------------------------------------- 
*/
header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    background-color: transparent;
    background-image: linear-gradient(to right, var(--cor-primaria), var(--cor-secundaria));
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}

.divisor{
    padding-top: 70px;
}

.navbar .logo{
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .active{
    color: var(--cor-quarternaria);
}

.toggle_btn {
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.login{
    background-color: var(--cor-quarternaria);
    color: var(--cor-terciaria);
    padding: 0.5rem 1rem;
    border: var(--cor-quarternaria) 3px solid;
    outline: none;
    border-radius: 20px;
    font-size: 0.8 rem;
    font-weight: bold;
    cursor: pointer;
}

.login:hover{
    background-color: transparent;
    color: var(--cor-quarternaria);
}

.login:active{
    border: var(--cor-terciaria) 3px solid;
    background-color: var(--cor-terciaria);
    color: var(--cor-quarternaria);
}

/* MENU DROPDOWN */
.dropdown_menu {
    height: 0px;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba( 255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .active{
    color: var(--cor-quarternaria);
}

.dorpdown_menu .login{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* 
--------------------------------------------------------------------- 
CORPO 
--------------------------------------------------------------------- 
*/
.corpo {
    display: flex;
    justify-content: center; /* Alinhar o conteúdo horizontalmente */
}

.inicio {
    width: 90%; /* Definir a largura do contêiner principal */
}

/* CARD */
.card{
    background-color: var(--cor-terciaria);
    border-radius: 20px;
    margin-bottom: 20px;
}

.card h1 {
    color: var(--cor-secundaria);
    margin-bottom: 10px;
    font-size: 6vw;
}

.card button{
    display: inline;
    background-color: transparent;
    background-image: linear-gradient(to right, var(--cor-primaria), var(--cor-secundaria));
    color: var(--cor-terciaria);
    padding: 0.5rem 1rem;
    border: var(--cor-quarternaria) 3px solid;
    outline: none;
    border-radius: 20px;
    font-size: 0.8 rem;
    font-weight: bold;
    cursor: pointer;
}

.card button:hover{
    background-image: linear-gradient(to left, var(--cor-primaria), var(--cor-secundaria));
    color: var(--cor-terciaria);
}
.card button:active{
    background-image: none;
    color: var(--cor-quarternaria);
}

    /* IMG TXT */
    .ImgTxt {
        padding: 20px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .ImgTxt .img {
        border-radius: 20px;
        width: 30%;
    }

    .ImgTxt img {
        border: 5px solid var(--cor-secundaria);
        border-radius: 20px;
        width: 100%;
    }

    .ImgTxt .texto {
        padding-left: 20px;
        width: 70%;
    }

    /* TXT */
    .Txt {
        padding: 20px;
        text-align: center;
    }

    .Txt p {
        margin-bottom: 20px;
        font-size: 1rem;
    }


    /* BACK IMG */
    .backImg{
        position: relative;
        height: 50vmin;
        overflow: hidden;
    }

    .backImg img{
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
        width: 100%;
    }

    .backImg h1{
        font-size: 8vmin;
        position: absolute;
        top: 20px;
        left: 20px;
        -webkit-text-stroke: 1px var(--cor-terciaria);
    }
    
    .backImg p{
        padding: 4px;
        border-radius: 3px;
        position: absolute;
        top: 13vmin;
        left: 20px;
        background-color: var(--cor-terciaria);
    }

    /* END CARD */

/* 
--------------------------------------------------------------------- 
RODAPÉ 
--------------------------------------------------------------------- 
*/

footer {
    color: var(--cor-terciaria);
    display: flex;
}

footer > div {
    flex: 1;
}

footer div{
    text-align: center;
}

/* RESPOSIVIDADE */

@media (max-width: 720px) {
    .navbar .links,
    .navbar .login {
        display: none;
    }
    
    .toggle_btn{
        display: block;
    }

    .ImgTxt {
        display: block;
    }
    
    .ImgTxt .texto {
        text-align: center;
    }
    
    .card .img {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    
    .card .texto {
        width: 100%;
    }
    
    .backImg h1{
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .dropdown_menu{
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

    .card .img {
        width: 100%;
    }

    footer {
        display: inline;
    }

    footer div{
        margin-bottom: 30px;
    }
}