:root {
    --cor-primaria: orange;
    --cor-secundaria: rgb(192, 125, 0);
    --cor-terciaria: aliceblue;
    --cor-quarternaria: #006b79;
    --cor-quintenaria: rgb(70, 70, 70);
    --cor-sextenaria: rgb(202, 202, 202);
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-terciaria);
    font-size: 1rem;
}

a:hover {
    color: var(--cor-quarternaria);
}

/* 
--------------------------------------------------------------------- 
CABEÇALHO
--------------------------------------------------------------------- 
*/
.whitebold {
    color: aliceblue;
    font-weight: bold;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    background-color: transparent;
    background-image: linear-gradient(to right, var(--cor-primaria), var(--cor-secundaria));
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}

.divisor {
    padding-top: 70px;
}

.navbar .logo {
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .active {
    color: var(--cor-quarternaria);
}

.toggle_btn {
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.login {
    background-color: var(--cor-quarternaria);
    color: var(--cor-terciaria);
    padding: 0.5rem 1rem;
    border: var(--cor-quarternaria) 3px solid;
    outline: none;
    border-radius: 20px;
    font-size: 0.8 rem;
    font-weight: bold;
    cursor: pointer;
}

.login:hover {
    background-color: transparent;
    color: var(--cor-quarternaria);
}

.login:active {
    border: var(--cor-terciaria) 3px solid;
    background-color: var(--cor-terciaria);
    color: var(--cor-quarternaria);
}

#divlogin {
    color: var(--cor-terciaria);
}

/* MENU DROPDOWN */
.dropdown_menu {
    height: 0px;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .active {
    color: var(--cor-quarternaria);
}

.dorpdown_menu .login {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*
    USUARIO
*/
.bio {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    border-bottom: var(--cor-quintenaria) 1px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.bio a {
    color: var(--cor-quintenaria);
    font-size: 1.5rem;
}

.identificacoes {
    background-image: radial-gradient(var(--cor-primaria), var(--cor-secundaria));
}

.foto {
    text-align: center;
}

.userAvatar {
    width: 20vmin;
    height: 20vmin;
    padding: 5vmin;
    border-radius: 50%;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    font-size: 12vmin;
}

.name {
    color: var(--cor-sextinaria);
    font-family: serif;
    text-align: center;
    font-size: 5vw;
    padding-bottom: 20px;
}

.email {
    color: var(--cor-terciaria);
    margin-top: 5px;
    font-size: 5vmin;
    text-align: center;
}

/*
LOGOFF
*/
.logoff {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.btnlogoff {
    margin-bottom: 20px;
    background-color: var(--cor-quarternaria);
    color: var(--cor-terciaria);
    padding: 0.5rem 1rem;
    border: var(--cor-quarternaria) 3px solid;
    outline: none;
    border-radius: 20px;
    font-size: 0.8 rem;
    font-weight: bold;
    cursor: pointer;
}

.btnlogoff:hover {
    background-color: transparent;
    color: var(--cor-quarternaria);
}

.btnlogoff:active {
    border: var(--cor-terciaria) 3px solid;
    background-color: var(--cor-terciaria);
    color: var(--cor-quarternaria);
}

.identificacoes .bio {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5vw;
    color: var(--cor-quintenaria);
    width: 80%;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--cor-quintenaria);
}

/* MATERIAS */
.materias {
    text-align: center;
    margin-left: 20px;
}

.materias h1 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.materialecionada {
    margin: 20px;
    padding: 5px;
    display: inline-block;
    border: solid var(--cor-secundaria) 2px;
}

/* NÍVEIS */
.nivellecionado {
    cursor: pointer;
    margin: 20px;
    padding: 5px;
    display: inline-block;
    border: solid var(--cor-secundaria) 2px;
}

/* ATRIBUICOES */

div.atribuicao {
    width: 45%;
    display: inline-block;
    margin: 20px;
}

div.atribuicao h1 {
    font-size: 2vw;
}

.container {
    height: 5px;
    background-color: var(--cor-sextenaria);
    position: relative;
}

.container .ensino {
    position: absolute;
    height: 100%;
    width: 76%;
    background-color: var(--cor-primaria);
}

.container .dominio {
    position: absolute;
    height: 100%;
    width: 98%;
    background-color: var(--cor-primaria);
}

/* ANIMAÇÃO EXCLUIR MATERIA */
.mensagemexcluirmateria {
    display: none;
}

.materialecionada {
    cursor: pointer;
    position: relative;
}

.materialecionada span {
    position: relative;
    z-index: 1;
}
.materialecionada:hover span {
    display: none;
}

.materialecionada:hover::before {
    width: 100%;
    background-color: white;
    content: "excluir";
    position: absolute;
    top: 5px;
    left: 0px;
    animation: slideUp 0.3s;
}

@keyframes slideUp {
    from {
        top: 20px;
        opacity: 0;
    }

    to {
        top: 5px;
        opacity: 1;
    }
}

/* RESPONSIVIDADE */
@media (max-width: 720px) {

    .navbar .links,
    .navbar .login {
        display: none;
    }

    .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .name {
        font-size: 7vmin;
    }

    .email {
        font-size: 7vmin;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    .whitebold {
        display: none;
    }

    .name {
        font-size: 8vmin;
    }

    .email {
        font-size: 8vmin;
    }

    footer {
        display: inline;
    }

    footer div {
        margin-bottom: 30px;
    }

    .mensagemexcluirmateria {
        display: inline;
    }
}